h1, body{    
    text-align: center;
    font-family: 'Dancing Script', cursive;
}
h2 {
    font-size: 1.7rem;        
}
body{
    background-color: #cc89f5;
}
h1{
    font-size: 3rem;
    margin-top: 5%;
    color: rgb(228, 228, 228); 
       
}
h4{
    
    font-size: 2rem;
}
section{
    background-color: rgb(228, 228, 228);
    max-width: 50rem;
    min-width: 4rem;
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 2%;
    padding-top: 1.5rem;
    padding-bottom: 2.1rem;
    border: pink solid;
    border-radius: 40px;
    color: #cc89f5;
    
}
input{
   width: 150px; 
}
button{
    margin-top: 40px;
    width: 100px;    
    font-family: 'Dancing Script', cursive;
    font-size: 25px;
    border-radius: 40px;
}

button:hover {
    cursor: pointer;
}